.homeDiv {
  width: 100%;
  height: 1500px;
  display: grid;
  margin: auto;
  grid-template-rows: 5% 5% 90%;
  background: url("../../f_img/fondo2kPaises5.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;

  overflow: hidden;
}

.div-comp-country {
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 400px;
  height: 400px;
  display: grid;
  background: rgba(1, 15, 61, 0.89);
  grid-template-rows: 75% 10% 10% 5%;
 
  box-shadow: 7px 7px 0.3em rgb(57, 156, 223);
  border-radius: 0.4em;
  transition-duration: 0.3s;
}
.div-comp-country:hover {
  box-shadow: 10px 15px 0.3em rgba(70, 171, 238, 0.466);
  transform: scale(1.05, 1.05);

}
.imgFlat {
  min-height: 290px;
  width: 370px;
  height: 290px;
  max-width: 370px;
  border-radius: 0.5em;
  margin: 10px;
  align-items: center;
  
}

.country-mas-act {
  width: 40px;
  height: 40px;
  margin: auto;
}
.container-card {
  display: grid;
  grid-template-columns: 97% 3%;

  margin: 15px;
  align-items: center;
  width: auto;
  height: auto;
}
.divRowColCountries {
  display: grid;
  min-width: 1000px;
  height: 1300px;
  margin: 10px;
  position: relative;
  z-index: -10px;
  top: 1.5%;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;
}
.div-abc {
  display: grid;
  background-color: rgba(6, 10, 61, 0.746);
  border-radius: 0.7em;
  box-shadow: 3px 6px 0.9em white;
  grid-template-columns: 100%;
  margin: auto;
  position: fixed;
  right: 90px;
  bottom: 50px;
 
}

.button-abc {
  margin: 2px;
  width: 25px;
  height: 25px;
  align-items: center;
  background: transparent;
  border-radius: 9.5px;
  border: transparent;
  transition: 0.2s;
  cursor: pointer;
  
}
.button-abc:hover {
  border: 0.1em solid rgba(209, 209, 226, 0.986);
  position: relative;
  transform: scale(2.1, 2.1);
  background: rgba(114, 14, 160, 0.712);
}
.h2-button-abc {
  color: rgb(248, 248, 248);
  margin: auto;
}
.divButtonsPage {
  display: grid;
  margin: auto;
  position: relative;
  right: 95px;
  grid-template-columns: 30% 30% 30% 30%;

  width: 520px;
  height: 40px;
}
.opciones-Select {
  color: rgb(255, 255, 255);
  transform: scale(1.19, 1.19);
  position: relative;
  right: 30px;
  
  margin: auto;
  background: rgba(3, 11, 121, 0.774);
}
.select {
  background: rgba(3, 19, 90, 0.664);
  color: rgb(225, 223, 247);
  border-radius: 0.3em;
  height: 45px;
  text-align: center;
  font-size: 1em;
  font-family: "verdana";
  border: 2px solid rgba(227, 228, 233, 0.329);
  box-shadow: 7px 7px 0.2em rgb(57, 156, 223);
  width: 122px;
  transition-duration: 0.3s;
  margin: auto;
  margin-top: 5px;
}
.select:hover {
  transform: scale(1.19, 1.19);
  box-shadow: 7px 7px 0.4em rgb(23, 127, 197);
}

.button-sig-ant {
  background: rgba(3, 19, 90, 0.664);
  color: rgb(220, 220, 235);
  border-radius: 0.2em;
  margin: auto;
  margin-top: 5px;
  font-size: 2em;
  width: 120px;
  height: 45px;
  border: 2px solid rgba(228, 230, 236, 0.418);
  box-shadow: 7px 7px 0.1em rgb(57, 156, 223);
  transition-duration: 0.3s;
}
.button-sig-ant:hover {
  transform: scale(1.19, 1.19);
  box-shadow: 7px 7px 0.2em rgb(17, 128, 202);
}

h4 {
  text-decoration: none;
  margin: 15px;
  color: rgb(176, 214, 230);
  font-size: 0.8em;
  font-family: "verdana";
}

.link-home {
  text-decoration: none;
}

.button-disabled {
  border: 0px solid transparent;
  background: transparent;
}
