.div-addAct {
  background: url("../../f_img/fondo2kPaises5.jpg");
  overflow: hidden;
  width: 1920px;
  height: 935px;
}

.div-set-data {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  align-content: center;
  margin: auto;
  margin-top: 40px;
  width: 800px;
  height: 650px;
  background: rgba(0, 0, 0, 0.726);
  border: 1px solid rgb(22, 20, 20);
  border-radius: 1.2em;
  box-shadow: 10px 15px 0.6em rgb(22, 22, 29);
}
.send-data {
  align-items: center;
  text-align: center;
}
.data-enter-left {
  display: grid;
  grid-template-rows: 20% 20% 20% 20%;
  padding-right: 40px;
  margin-top: 70px;
  align-items: center;
  justify-items: right;
}

.div-out-right {
  margin-top: 70px;
  display: grid;
  grid-template-rows: 20% 20% 20% 20%;
  margin-right: 125px;
  align-items: center;
}

.optionss {
  width: 220px;
  border-radius: 0.2em;
  color: aliceblue;
  background-color: rgba(0, 0, 0, 0.74);
  font-size: 1em;
  font-family: "verdana";
}
.selectt {
  width: 220px;
  border-radius: 0.2em;
  color: aliceblue;
  background-color: rgba(5, 7, 7, 0.404);
  font-size: 1em;
  font-family: "verdana";
}
.button-send {
  background: url("../../f_img/Enter2.png");
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  border-radius: 0.6em;
  border: 1px solid transparent;
  cursor: pointer;
  position: relative;
  margin-top: 120px;
}

.button-send2 {
  background: url("../../f_img/Enter.png");
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  border-radius: 0.6em;
  border: 1px solid transparent;
  cursor: pointer;
  position: relative;
  margin-top: 120px;
}

.button-home {
  background: url("../../f_img/home.png");
  background-repeat: no-repeat;
  width: 70px;
  height: 65px;
  border: 1px solid transparent;
  cursor: pointer;
  float: center;
  margin-right: -590px;
  margin-top: 40px;
  transition: 0.3ms;

}
.button-home:hover{
    background: url("../../f_img/home2.png");
    background-repeat: no-repeat;

}



.input {
  width: 215px;
  border-radius: 0.2em;
  color: aliceblue;
  background-color: rgba(1, 2, 2, 0.301);
  font-size: 1em;
  font-family: "verdana";
  text-align: start;
}
.button-mas-mas {
  background: transparent;
  width: 50px;
  height: 50px;
  font-size: 2.5em;
  border: 2px solid rgb(14, 201, 30);
  margin: auto;
  border-radius: 0.2em;
  color: chartreuse;
  margin: auto;
  margin-right: 92px;
  cursor: pointer;
  box-shadow: 0px 6px 0.2em rgb(8, 129, 59);
  transition: 0.2s;
}
.button-mas-mas:hover {
  box-shadow: 0px 6px 0.2em rgb(86, 216, 140);
}

.button-mas-menos {
  background: url("../../f_img/menos.png");
  color: darkred;
  width: 50px;
  height: 50px;
  font-size: 2.6em;
  border: 2px solid rgb(165, 10, 10);
  border-radius: 0.2em;
  box-shadow: 0px 6px 0.2em rgb(226, 12, 12);
  margin-right: 12px;
  margin: auto;
  cursor: pointer;
  transition: 0.2s;
}
.button-mas-menos:hover {
  box-shadow: 0px 7px 0.2em rgb(218, 53, 53);
}

.div-mas-menos {
  display: grid;
  grid-template-columns: 15% 15% 70%;
}
.h3-horas {
  margin-right: 9em;
}

.h3 {
  font-size: 12px;
  max-width: 127px;
  max-height: 35px;
  text-align: left;
}

.uli {
  overflow-y: auto;
  height: 90px;
  margin-left: -40px;
  padding-right: 90px;
}

.details-inputs {
  display: grid;
  grid-template-columns: 50% 50%;

  background: rgba(19, 21, 26, 0.425);
  margin-bottom: 10px;
  justify-items: left;
  max-width: 370px;
  max-height: 450px;
  border-radius: 0.7em;
  margin-right: 5px;
  text-align: justify;
}
