.div-nav {
  display: grid;
  position: relative;
  background:url("../../f_img/paises111.png"), rgba(4, 4, 37, 0.815);
 
  grid-template-columns: 20% 70% 10%;
  border: 2px solid rgb(15, 6, 134);
  box-shadow: 0em 1px 0.9em rgba(59, 167, 255, 0.767);
  border-radius: 0.5em;
}


.input-nav {
  width: 220px;
  margin: auto;
  height: 52.5px;
  border: 1px solid rgb(241, 234, 234);
  color: rgb(16, 8, 128);
  border-bottom-left-radius: 0.4em;
  border-top-left-radius: 0.4em;
  font-size: 25px;
  font-family: "verdana";

}
.button-input-nav {
  background: url("../../f_img/3.png");
  border: 2px solid rgb(241, 234, 234);
  margin: auto;
  position: relative;


  width: 50px;
  height: 53px;
  margin: auto;
  border-bottom-right-radius: 0.7em;
  border-top-right-radius: 0.7em;
  cursor: pointer;
  transition: 0.6seg;
}
.button-input-nav:hover {
  background: url("../../f_img/2.png");
}
.div-createAct {
  margin-top: -3px;
  margin-bottom: -0.1em;
  display: grid;
  grid-template-columns: 50% 50%;
}
.button-create-nav {
  margin: auto;
  width: 50px;
  height: 50px;
  border: 1px solid transparent;
  background: url("../../f_img/create2.png");
  cursor: pointer;
  transition: 0.3seg;
}
.button-create-nav:hover {
  background: url("../../f_img/create.png");
}

.form-inp-but {
  position: relative;
  
  left: 7px;
  display: grid;
  grid-template-columns: 50% 29%;
  width: auto;
}
h3 {
  color: rgb(205, 251, 255);
  font-family: "verdana";
  text-decoration: none;
}
